################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Junior Engine Project/v15
/Build
/Junior Engine Project/Debug
/Junior Engine Project/x64/Debug
/Junior Engine Project/x64/Release/Junior E.F79D3F4B.tlog
/Junior Engine Project/x64/Release
/JuniorEngine/Build
/Junior Engine Project/JuniorDebugInfo.txt
